a {
  text-decoration: none;
  color: #fff;
}

.b-list {
  list-style: none;
}

.b-page_locked {
  height: 100%;
  overflow: hidden;
}

.b-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}